<html>

<meta charset="utf-8">
     <head>
        <script src="/static/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <form action="{{ret}}" method="GET">
            <input type="submit" value="Wróc" />
        </form>
        <form action="/" method="GET">
            <input type="submit" value="Home" />
        </form>
        <h1>Edycja utworu</h1>
        <form id="add">
            <input type="text" name="DJ" placeholder="Inicjały" value="{{play.DJ}}">
            <input type="text" name="song" placeholder="Utwór (nazwa i wykonawaca):" value="{{play.song}}">
            <input type="hidden" name="date">
            <input type="submit" value="Uaktualnij">
        </form>
        
    </body>
    
    <script>
        
        $("#add").submit(function( event ){
            event.preventDefault();
            var values = {};
            $.each($(this).serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            if( (! "DJ" in values) || (! "song" in values) || (values["DJ"] == "") || (values["song"]=="")){
                alert("Wypełnij wszystkie pola");
                
            }else{
                $.ajax({
                    type: 'PUT',
                    cache: false,
                    contentType: "application/json",
                    url: '/api/v1/play/{{play.id}}',
                    dataType: 'json',
                    data: JSON.stringify({ date: {{play.date}}, DJ: values["DJ"], song: values["song"]}),
                    success: function(data) {
                        //location.reload();
                        window.location.replace({{ret}});
                    }
                });
            }
            
            
        });
        
    </script>
    <hr><b>Play History</b><br>
    Project CEO - Paweł Dietrich
</html>
