{% extends "base.html" %}
{% block page_title %}Statystyki{% endblock %}
{% block content %}
    <style>
        thead{
            font-weight:900;
        }
        #date{
            margin-right:10px;
        }
    </style>
    <body>
        <p>
        <form method="GET" id="date" action="/stats/">
            <input type="text" autocomplete=off placeholder="start date YYYY-MM-DD" id="startd" >
            <input type="text" autocomplete=off placeholder="stop date YYYY-MM-DD" id="stopd" >
            <input type="hidden" name="startts" value=0 id="startts">
            <input type="hidden" name="stopts" value=0 id="stopts">
            <input class="btn btn-primary" id="submbutton" type="submit" value="Pokaż wybrane" disabled="disabled">
        </form>
        <form action="/stats/" method="GET">
            <input class="btn btn-secondary" type="submit" value="Pokaż wszystko" />
        </form>
        </p>
        <h1> Statystyki </h1>
        <span> {% if date_start == 0 or date_stop == 0 %}Cały okres{% else %} {{date_start|display}} - {{date_stop | display}} {% endif %} </span>
        {% if data %}
        <table>
            <thead>
                <tr>
                    <td> Inicjały </td> <td> Ilość puszczonych utworów </td>
                </tr>
            </thead>
            <tbody id="statshere">
                {% for stat in data %}
                    <tr>
                        <td> {{stat.name}} </td> <td> {{stat.score}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p><b>Nie puszczano utworów</b></p>
        {% endif %}
        <script>
            $("#date").trigger('reset');
            var status_start = check_date($("#startd")), status_stop = check_date($("#stopd"));
            update();
            function update(){
                if(status_start==status_stop && status_start==1){
                    $('input[name="startts"]').val(Date.parse($("#startd").val())/1000);
                    $('input[name="stopts"]').val(Date.parse($("#stopd").val())/1000);
                    $("#submbutton").removeAttr('disabled');
                }else{
                    $("#submbutton").attr('disabled','disabled');
                }
            }
            function check_date(el){
                var d = new Date(el.val());
                if ( Object.prototype.toString.call(d) === "[object Date]" ) {
                    if ( ! isNaN( d.getTime() ) ) {
                        el.addClass('bg-success');
                        el.removeClass('bg-warning');
                        return 1;
                    }
                }
                el.addClass('bg-warning');
                el.removeClass('bg-success');
                return 0;
            }
            $("#startd").keyup(function(){
                status_start = check_date($(this));
                update();
            });
            $("#stopd").keyup(function(){
                status_stop = check_date($(this));
                update();
            });
            
            $("#date").submit(function(event){
                console.log($(this).serialize());
            });
        
        </script>
{% endblock %}
